.sidebar {
    width: 25px;
    height: 100vh;
    background-color: var(--blackCus);
    color: #fff;
    border-radius: 5px;
    transition: 0.5s;
    position: fixed;
    top: 40px;
    left: 0;
}

.sidebar.open {
    width: 450px;
}

.navtoggler{
float: right;
font-size: 20px;

    
}


